/* /assets/css/admin_common.css */

/* Sidebar 스타일 */
.sidebar {
    width: 250px;
    background-color: #343a40;
    padding-top: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar .nav-item {
    padding: 10px 20px;
}

.sidebar .nav-link {
    color: #fff;
    font-size: 18px;
}

.sidebar .nav-link.active {
    background-color: #007bff;
    color: #fff;
}

.sidebar .nav-link:hover {
    background-color: #007bff;
    color: #fff;
}

/* 컨텐츠 영역 스타일 */
.container {
    margin-left: 260px;
}

/* 카드 스타일 */
.card {
    border-radius: 10px;
}

.card-body {
    padding: 20px;
}
