/* /assets/css/manage_coupons.css */

body {
    margin-left: 220px;
}

.wrapper {
    display: flex;
    height: 100vh;
}

/* 사이드바 기본 스타일 */
.sidebar {
    width: 250px;
    background-color: #343a40;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}

.sidebar .nav-item {
    padding: 10px 20px;
}

.sidebar .nav-link {
    color: #fff;
    font-size: 18px;
}

.sidebar .nav-link.active {
    background-color: #007bff;
    color: #fff;
}

.sidebar .nav-link:hover {
    background-color: #007bff;
    color: #fff;
}

/* 콘텐츠 영역 */
.content {
    margin-left: 250px; /* 사이드바 너비만큼 여백 추가 */
    width: 100%; /* 기본적으로 가로 폭 100% */
    padding: 20px;
}

/* 컨텐츠 영역 안에서 테이블을 가운데 정렬 */
.container {
    width: 90%; /* 기본 너비 90% */
    max-width: 1200px; /* 최대 너비 1200px */
    margin: 0 auto; /* 가로 가운데 정렬 */
}

/* 테이블 스타일 */
#couponTable {
    width: 100%;
    border-collapse: collapse;
}

#couponTable th, #couponTable td {
    text-align: center;
    padding: 10px;
}

/* 메시지 알림 */
#noCouponsMessage {
    margin-top: 20px;
    text-align: center;
}

/* 페이지 네비게이션 버튼 스타일 */
.d-flex.justify-content-between {
    margin-top: 20px;
}
