/* 쿠폰 제보 리스트 스타일 */

/* 제보 테이블 */
#reportTable th, #reportTable td {
    text-align: center;
}

/* 제보 테이블 행에 호버 효과 */
#reportTable tr:hover {
    background-color: #f9f9f9;
}

/* 제보 확인 버튼 */
.report-btn {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: #fff;
}

.report-btn:hover {
    background-color: #138496;
    border-color: #117a8b;
}
